body {
	background: rgb(247, 192, 73);
	font-family: 'Open Sans', sans-serif;
}
.main{
    padding:20px;
    font-family: Georgia, serif;
    box-shadow: 5px 5px 7px 5px #888888;
}	
.main h1{
    font-size: 40px;
    text-align:center;
    font-family: 'Georgia', serif; 
}	
  
input{
    font-family: 'Georgia', serif;
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #767474;

}
input[type=submit] {
    font-family: 'Georgia', serif;
    width: 100%;
    background-color: #767474;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}
  
  
  .text {
	width: 200px;
	height: 30px;
	border-radius: 10px;
	border-color: gray;
	border-width: 0.5px;
	border-style: solid;
	font-family: "Montserrat", sans-serif;
	outline: none;
  }
  
  .wrapper {
	text-align: center;
  }
  
  .reg {
	font-size: x-small;
  }
  